body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #EDE8D0;
}

p {
  font-size: 16px;
}

/* .margin {
  margin-bottom: 45px;
} */


.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #4c3c3c;
  /* color: #56ad9c; */
}

.navbar-nav li a:hover {
  color: #0b8d73 !important;
}
/* Circle
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
} */

#about {
  margin-top: 80px;
  padding:110px;
  border: 3px solid #e74c3c; /* 3px thick, red color */
}

#cv {
  /* margin-top: 80px; */
  padding:110px;
  border: 3px solid #0a39d6; /* 3px thick, red color */
}
#projects {
  /* margin-top: 80px; */
  padding:110px;
  border: 3px solid #f37906; /* 3px thick, red color */
}
html {
  scroll-behavior: smooth;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
}
.school {
  padding-top: 10px;
  padding-bottom: 10px;
  /* text-align: center; */
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.cv_header {
  text-align: center;
}
.jobs {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
}

.carousel-inner .item img {
  width: 100%;
  height: 500px; /* set your desired fixed height */
  object-fit: contain;
  /* background-color: #000; */
}

.carousel-caption {
  color: #000000; /* yellowish text */
}