body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #EDE8D0;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  background-color: #1abc9c;
  /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d;
  /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  /* White */
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  color: #56ad9c;
}

.navbar-nav li a:hover {
  color: #0b8d73 !important;
}
#about {
  margin-top: 80px;
  padding:110px;
  border: 3px solid #e74c3c; /* 3px thick, red color */
}

#cv {
  /* margin-top: 80px; */
  padding:110px;
  border: 3px solid #0a39d6; /* 3px thick, red color */
}
#projects {
  /* margin-top: 80px; */
  padding:110px;
  border: 3px solid #f37906; /* 3px thick, red color */
}
html {
  scroll-behavior: smooth;
}